/* @media (min-width: 319px)  {
    body{
        background-color: red;
    }
}
@media (min-width: 425px)  {
    body{
        background-color: green;
    }
}
@media (min-width: 576px)  {
    body{
        background-color: yellowgreen;
    }
}
@media (min-width: 768px)  {
    body{
        background-color: red;
    }
}
@media (min-width: 992px)  {
    body{
        background-color: rgb(17, 0, 255);
    }
}
@media (min-width: 1200px)  {
    body{
        background-color: rgb(123, 255, 0);
    }
}
@media (min-width: 1400px)  {
    body{
        background-color: red;
    }
} */