.borderr{
    border: 1px solid red;
}
.home-bg{
    background-image: url("./assets/images/home/lily-banse--YHSwy6uqvk-unsplash.jpg");
    width: 100%;
    height: 100vh; 
    background-size: cover;
    background-repeat: no-repeat
}